/* List column */
.list {
    flex: 1; /* Takes up 1 part of the container */
    background-color: #3e475b;
    padding: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}