.student-dashboard {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .student-dashboard h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .student-info {
    margin-top: 20px;
  }
  
  .student-info p {
    margin: 5px 0;
  }
  
  .actions {
    margin-top: 20px;
  }
  
  .actions button {
    margin-right: 10px;
  }  .error {
    color: #ff0004; /* Red color for errors */
    background-color: #fff1f0; /* Light red background */
    border: 1px solid #ffa39e; /* Border to make it stand out */
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 14px;
  }
  .success {
    color: #13ef08; /* Red color for errors */
    background-color: #fff1f0; /* Light red background */
    border: 1px solid #7ef796; /* Border to make it stand out */
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 14px;
  }
