/* index.css */

/* Reset some default styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
}

/* Ensure the root element takes full height */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Global styles for a consistent look */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4; /* Optional: light gray background */
}

/* Add any other global styles or reset styles here */

/* Toast Notification */
#toast-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: fade-in 0.5s, fade-out 0.5s 2.5s;
  border: 1px solid transparent;
}

.toast.success {
  background-color: #4caf50; /* Green */
  color: white;
  border-color: #3e8e41;
}

.toast.error {
  background-color: #f44336; /* Red */
  color: white;
  border-color: #d32f2f;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.logout-warning-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears on top of other elements */
}

.logout-warning-modal-content {
  background-color: #fff; /* White background */
  border-radius: 8px;
  padding: 30px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.logout-warning-modal-content h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.logout-warning-modal-content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.logout-warning-modal-content button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-warning-modal-content button:hover {
  background-color: #0056b3;
}

.logout-warning-modal-content .fa-exclamation-triangle {
  color: #ff0000; /* Bright red for the warning icon */
  margin-bottom: 20px;
}
